body,
html {
  background: #220140;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: fuchsia;
  * {
    box-sizing: border-box;
  }
}

main {
  height: 100vh;
  padding: 3rem;
  padding-left: 10rem;
}

@mixin fontBig {
  font-size: 2rem;
}

button {
  background: gold;
  padding: 1rem 2.3rem;
  border: 1px solid goldenrod;
  box-shadow: -6px 6px 0px #222;
  cursor: pointer;
  transition: all 0.1s ease;
  @include fontBig();
  &:hover {
    transform: translate3d(1px, -1px, 0);
    box-shadow: -7px 7px 1px #222;
  }
}

.border-right {
  border-right: 1px solid #333;
}

.flex-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100%;
  min-width: 40%;
  max-width: 600px;
  background: #fff;
  padding: 2.3rem;
  border: 1.3rem solid #efefef;
  border-left-color: #e0dede;
  // border-bottom-color: #e0dede;
  border-bottom-color: #d6d4d4;
  @include fontBig();
}
